@charset "utf-8";
/* CSS Document */
*{
padding:0px;
margin:0px;	
text-decoration:none;
}
header,section,article,nav{
	display:block;
	}
	nav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 10px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
	nav ul li:hover > ul {
		display: block;
	}
   
   nav ul li {
	float: left;
}
	nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	}
		nav ul li:hover a {
			color: #fff;
		}
	
	nav ul li a {
		display: block; padding: 15px 30px;
		color: #757575; text-decoration: none;
	}
	nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 30px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #4b545f;
			}
			nav ul ul ul {
	position: absolute; left: 100%; top:0;
}
.logo_head {
	background-image: url(header.png);
	background-repeat:repeat-x;
	height:100px;
}
#logo{
	float:left;
	padding:5px 0px 5px 150px;
	}
	
.main_nav{
	float:left;
padding:5px;
margin:25px 0px 0px 50px;
	}	
	/*

	.main_nav ul li{
		display:inline;
		}

.main_nav ul li a{
color:white;
	}
*/	

	.section{
	clear:both;
			}
			
			
.core_content{
	background-image: url(banner.jpg);
	background-repeat:repeat-x;
	float:left;
	clear:both;
	width:100%;
	height:481px;	
	margin-left:20px;
}
.sub_content{
	background-color:black;
	border:solid 2px white;
	border-radius:8px 8px 8px 8px;
	color:white;
	height:250px;
	width:900px;
	clear:both;
	margin:10px 10px 20px 200px;
		
}
.fin_content{
	float:left;
	width:150px;
}
.consult_content{
	float:left;
	width:150px;
	margin-left:220px;
	
}
.fin_content, .consult_content{
    float: left;
    min-height: 250px;
    color: white;
}
.fin_content {
     width: 300px;
     text:justify;
}

.consult_content {
     width: 250px;
	 text:justify;
   }
   #welcome_content{
	   margin:20px 100px 10px 150px;
	   
   }
   .link_content,.financial_content,.abs_content{
	    float: left;
    min-height: 250px;
	width:200px;
    color: white;	   
   }
   nav ul ul {
	display: none;
}

	
	

