$fLeft:left;
$border:solid .2em;
@media only screen and (max-width: 600px) {
    * {
    	margin:0em;
    	padding:0em;
		box-sizing: border-box;
    }

    nav,section,header,footer,article{

    	display:block;
    }

    body {
        background-color: #F1F2ED;
        font-family:Helvetica Neue,​Arial,​sans-serif;
        font-size: 62.5%;
		background-color:#F1F2ED;
		
    

#container{
	position:relative;
	width:100%;	
		header{
			float:left;
			width:100%;
			position:absolute;
			
			div{
	
			} 
			
		nav{
	
				ul{
				
					
					li{
					
					display:inline;
					
					


					
					a{
									
			}
		}

	  }

   }
			
			}
			
			

 }

}

}
