.page_header{
		background-image:linear-gradient(#fe5c5c,#db0000,#ba0000);
		background-repeat:repeat-x;
		float: left;
		border:solid 0.2em;
		font-size:100%;
		width:100%;
		text-align:center;
#text_logo{
		position:relative;
		float:left;
		font-size:1.2em;
		color:white;
		 
		
}
		
}
.page_header{

.menu_image{
float:right;
width:2em;
height:2em;
float:right;



}
}

.page_header{
.navigation{
float:left;

width:100%;
margin:0px;
padding:0px;
ul{
width:100%;
;
margin:0px;
padding:0px;
li{
display:inline-block;

width:100%;

margin:0px;
padding:0px;
a{
margin:0px;
padding:0px;
text-decoration:none;
width:100%;
color:white;
float:left;
border:solid 0.2em blue;
border-radius:2em;
}

a:hover{
font-weight:600;
}

a.current{
color:blue;
background-color:brown;
}
}
}
}		
}



