/* variables */
$bgcolor:#333333;
$border:solid .2em black;
$font:Arial, Helvetica, sans-serif 100%;
$headercolor:#006699;

.left{
float:left;
}


* {
    box-sizing: border-box;
	margin:0em;
	padding:0em;
}

img{
	max-width:100%;
}

aside,section,header,nav,footer{
	display:block;
}

body{
	background-color:$bgcolor;
	font:$font;
	height: auto;
	line-height:1.5em;
	
		#container{
			background-color: #ffffff;
			clear: both;
			margin:0 auto;
			width: 70%;
				  }
}

h2{
color:$headercolor;
}
/*reusability*/

@import 'navscss';


@media only screen and (max-width:800px){
@import 'mnavscss';
}

.img_slider img{
@extend .left;
}

.main_section{
header{

h2{
margin-top:1.5%;
margin-left:3.5%;
margin-bottom:1.2%;
}
}
}

.main_content{
@extend .left;

	img{
	@extend .left;
}
	
	p{
padding:1%;
text-align:justify;
	
}



}
	

	
.main_section{
@extend .left;
background-color:white;
width:75%;

}

.content_right {
    background-color: #369;
    padding-bottom: 0.2em;
    padding-left: 2em;
    padding-top: 0.5em;
    width: 100%;
	color:white;
	
}


.side_nav{
	background-color:#2991B6;
	position:relative;
	 width:25%;
	 padding-left:0.3em;
	 height:auto;
@extend .left;
	

}

@import 'footer';


	
	 
	 