.footer{
background-color:black;
width:100%;
height:4em;
position:fixed;
ul{
list-style-type:none;
width:100%;
float:left;
.back{
float:left;

}

.home{
float:left;

}


.forward{
float:right;
}




li{
display:inline-block;

a{
text-decoration:none;


img{
padding:0.3em;
width:2.8em;
height:3.2em;
border-radius:999em;
}



}
}

}

}

