$bgcolor:#eb5151;


.logo_holder{
float:left;
width:100%;
background-color:$bgcolor;
border-bottom:solid #333333 0.1em ;
.logo_img{
float:left;
padding:.4em;
width:4.5em;
height:3em;
}

img{
height:2em;
width:2em;
}

.menu_img{
float:right;
margin-right:.4em;
border:.3em solid white;
margin-top:.5em;
border-radius:5em;
}


}

.nav_bar{
display:none;
float:left;
width:100%;
background-color:$bgcolor;
ul{
width:100%;
list-style-type:none;

li{
display:inline-block;
width:100%;
padding:0.5em;
a{
width:100%;
text-decoration:none;
color:white;
}

a .current{
color:white;
background-color:#333333;
}

a:hover{
color:white;
font-weight:600;

}



}

}


}



/*
.logo_holder{
float:left;
width:100%;
background-color:#222222;
clear:both;
border-bottom:solid 0.1em #998d82;

img{
height:3.5em;
margin-top:0.3em;
width:3.3em;

margin-left:0.7em;
}

.menu_img{
float:right;
width:2.5em;
height:2.5em;
margin-top:.6em;
margin-right:.4em;

}
}

.nav_bar{
width:100%;
clear:both;
float:left;
background-color:#333333;
ul{
width:100%;
li.current{
background-color:black;
width:100%;
color:white;

}
li{
width:100%;
display:inline-block;
padding:.7em;
a{
margin-left:.5em;
text-decoration:none;
color:#998d82;

}
a:hover{
color:white;
font-weight:600;
}
}
}
}
*/
